@import '../../vars.scss';
@import '../../reset.scss';

.announcement {
    align-items: center;
    border: 3px solid $btn-border;
    width: 500px;

    &__head {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-left: 15px;

        &-txt {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 130px;

            &>div {
                padding-bottom: 15px;

                &>h3 {
                    padding-top: 10px;
                }
            }
        }

        &-arrow {
            background: $bckg;
            border: none;
        }

        &>img {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }

    &__info {
        padding-left: 15px;

        &>p {
            width: 50%;
        }
    }
}

button {
    cursor: pointer;
}

.btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 7px;

    &__edit {
        border: 2px solid $btn-border;
        background: $white;
    }

    &__cancel {
        border: 2px solid $red;
        background: $cancel-btn-bckg;
    }
}

.modal-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.8);

}

.general {
    &__list {
        display: flex;
        justify-content: center;
        list-style-type: none;
        gap: 15px;
        padding: 0 0 10px;
        margin-top: 4px;
        margin-right: 10px;

        &-content {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &>a {
                color: $events;
                background: $white;
                border: 2px solid $btn-border;
                text-decoration: none;
                padding: 2px;
                text-align: center;

                &:hover {
                    background: $event-hovered;
                }
            }
        }
    }

    &__head {
        font-weight: bold;
        margin-top: 15px;
    }
}